<div class="info">
  <div class="container">
    <h4>8h - Min</h4>
    <h1>{{min8 | currency:"EUR"}}</h1>
  </div>
  <div class="container">
    <h4>8h - Max</h4>
    <h1>{{max8 | currency:"EUR"}}</h1>
  </div>
  <div class="container">
    <h4>8h - Avg</h4>
    <h1>{{avg8 | currency:"EUR"}}</h1>
  </div>
  <div class="container">
    <h4>8h - Median</h4>
    <h1>{{median8 | currency:"EUR"}}</h1>
  </div>
  <div class="container">
    <h4>5h - Min</h4>
    <h1>{{min5 | currency:"EUR"}}</h1>
  </div>
  <div class="container">
    <h4>5h - Max</h4>
    <h1>{{max5 | currency:"EUR"}}</h1>
  </div>
  <div class="container">
    <h4>5h - Avg</h4>
    <h1>{{avg5 | currency:"EUR"}}</h1>
  </div>
  <div class="container">
    <h4>5h - Median</h4>
    <h1>{{median5 | currency:"EUR"}}</h1>
  </div>
  <div class="container">
    <h4>4h - Min</h4>
    <h1>{{min4 | currency:"EUR"}}</h1>
  </div>
  <div class="container">
    <h4>4h - Max</h4>
    <h1>{{max4 | currency:"EUR"}}</h1>
  </div>
  <div class="container">
    <h4>4h - Avg</h4>
    <h1>{{avg4 | currency:"EUR"}}</h1>
  </div>
  <div class="container">
    <h4>4h - Median</h4>
    <h1>{{median4 | currency:"EUR"}}</h1>
  </div>
</div>