<div class="offer">
  <table>
    <th colspan="2">Oferta {{ id }}</th>
    <tr>
      <td>Remuneracion</td>
      <td>{{ remuneracion }}</td>
    </tr>
    <tr>
      <td>Compañia</td>
      <td>{{ companyName }}</td>
    </tr>
    <tr>
      <td>Descripción</td>
      <td>{{ description }}</td>
    </tr>
    <tr>
      <td>Perfil</td>
      <td>{{ profile }}</td>
    </tr>
    <tr>
      <td>Observación</td>
      <td>{{ observation }}</td>
    </tr>
    <tr>
      <td>Fecha</td>
      <td>{{ inserted | date }}</td>
    </tr>
  </table>
</div>
